/* =======Icons===== */
#icon-bell,
#icon-dashboard,
#icon-settings,
#icon-members,
#icon-visits {
  width: 25px;
}

#icon-tw,
#icon-fb,
#icon-gg {
  width: 30px;
  height: auto;
  fill: #fff;
}

.social-image {
  width: 60px;
  height: 60px;
  padding: 16px;
  border-radius: 50%;
  transform-origin: center;
  background-color: #7377BF;
}

/* =======Images===== */
#avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* =======Toggle Switches===== */
.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #34A7C1;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ===================================== 
    Base Style
======================================== */
* {
  box-sizing: border-box;
}

body {
  font-family: "Crimson Text", serif;
  margin: 0 auto;
}

.traffic-header,
.daily,
.message,
.settings {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

a {
  text-decoration: none;
  color: #7377BF;
}

h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.8em;
}

/* ===================================== 
   Grid Layout
======================================== */
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "nav" "main";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

/* ===================================== 
  Header
======================================== */
header {
  display: flex;
  justify-content: space-around;
  background-color: #7477BF;
  color: #fff;
  padding: 15px 15px;
}

.wrapper-ava {
  display: flex;
  border-left: 1px solid #fff;
}

h2 {
  flex-grow: 10;
}

#icon-bell {
  margin-right: 20px;
  border-right: 1px solid black;
}

#avatar {
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 5px;
}

/* ===================================== 
  Navigation
======================================== */
nav {
  display: flex;
  background-color: #4D4C72;
  justify-content: center;
}
nav a {
  padding: 10px 10px;
}

/* ===================================== 
 Main header
======================================== */
.main-header {
  display: flex;
  align-items: center;
  height: 25%;
  margin-top: 0;
  margin-bottom: 0;
}
.main-header h2 {
  flex-grow: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 8px;
}

.main-header-search {
  border-left: 1px solid silver;
  border-bottom: 1px solid silver;
  border-bottom-left-radius: 5px;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-top: 0;
  margin-bottom: 0;
  flex-grow: 10;
  background-color: silver;
  text-align: right;
}
.main-header-search input {
  margin-right: 10px;
  padding-left: 10px;
}

/* ===================================== 
 Alert box
======================================== */
.alert {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  height: 40px;
  width: 90%;
  background-color: #7377BF;
  color: #fff;
}

/* ===================================== 
 Traffic 
======================================== */
.traffic-header {
  display: flex;
  align-items: center;
}
.traffic-header ul {
  flex-grow: 1;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

/* ===================================== 
 Social stats
======================================== */
.social-container {
  border: 0.5px solid silver;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  background-color: #FBFBFB;
}
.social-container p {
  margin: 0;
}
.social-container p:first-child {
  font-size: 1.2em;
  color: #8385C5;
  font-weight: bold;
}
.social-container p:last-child {
  font-size: 2.5em;
}
.social-container .social-image {
  padding-top: 10px;
}
.social-container .social-text {
  width: 105px;
  justify-content: left;
  padding: 0;
}

/* ===================================== 
 New Members & Recent Activity
======================================== */
.profile-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.members-container {
  justify-content: space-between;
}
.members-container p {
  margin: 0;
}

.activity-container p {
  margin: 0 0 0 25px;
}

.members-container,
.activity-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.members-container p,
.activity-container p {
  font-size: 0.85em;
}

.members-container:not(:last-child),
.activity-container:not(:last-child) {
  border-bottom: 1px solid silver;
}

.members,
.activity {
  margin-top: 20px;
  border: 1px solid silver;
  padding-left: 5px;
  padding-right: 5px;
}

.members-text {
  flex-basis: 60%;
  font-size: 0.85em;
}

.activity-text {
  font-size: 0.85em;
  justify-content: space-around;
}

/* ===================================== 
 Message User & Settings
======================================== */
.message input,
.message textarea {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  background-color: #FBFBFB;
}
.message input,
.message textarea,
.message button {
  width: 100%;
  border-radius: 3px;
  border: 1px solid silver;
  font-size: 0.9em;
}
.message input {
  height: 30px;
}
.message textarea {
  height: 80px;
}
.message button {
  background-color: #7377BF;
  color: #fff;
  text-transform: uppercase;
  height: 30px;
}

/*# sourceMappingURL=styles.css.map */
