/* =======Icons===== */
#icon-bell, 
#icon-dashboard, 
#icon-settings, 
#icon-members, 
#icon-visits, {
    width: 25px; 
}

#icon-twitter {
    width: 35px; 
}

.social-image{   
    width: 60px; 
    height: 60px; 
    // border-radius: 50%; 
    border: 1px solid black; 
   transform-origin: center;   
}

/* =======Images===== */

#avatar{
    height: 50px; 
    width: 50px; 
    border-radius: 50%;
}


