/* =======Icons===== */
#icon-bell, 
#icon-dashboard, 
#icon-settings, 
#icon-members, 
#icon-visits{
    width: 25px; 
}

/* =======Images===== */

#avatar{
    height: 10%; 
    width: 10%; 
    border-radius: 50%;
}


