/* =======Icons===== */
#icon-bell, 
#icon-dashboard, 
#icon-settings, 
#icon-members, 
#icon-visits, {
    width: 25px; 
}

#icon-tw, 
#icon-fb, 
#icon-gg {
    width: 30px; 
    height: auto; 
    fill: #fff; 
    
}

.social-image{   
    width: 60px; 
    height: 60px; 
    padding: 16px; 
    border-radius: 50%; 
   transform-origin: center;   
   background-color: #7377BF;
}

/* =======Images===== */

#avatar{
    height: 50px; 
    width: 50px; 
    border-radius: 50%;
}


