@media (min-width: 768px) {

    /* ===================================== 
    Base layout
    ======================================== */

    .traffic, 
    .daily, 
    .social, 
    .members,
    .activity, 
    .message, 
    .settings {
        padding-left: 15px !important; 
        padding-right: 15px !important;  
    }


    /* ===================================== 
    Grid Layout
    ======================================== */
    .grid-container{
        grid-template-columns: 55px 1fr; 
        grid-template-areas: 
            "header header"
            "nav main"; 
    }
 
    .members-and-activity, 
    .message-and-settings {
        display: grid; 
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

   .daily-charts{
       margin-top: 15px; 
       display: grid; 
       grid-template-columns: 1fr 1fr;
   }

    /* ===================================== 
    Navigation Bar
    ======================================== */
    nav{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;;

        a:first-child{
            margin-top: 25px; 
        }
    }

    /* ===================================== 
    Main header
    ======================================== */
    .main-header{
        input{
            width: 250px; 
            margin-right: 10px !important; 
        }

        h2 {
            padding-left: 10px !important; 
        }
        
    }

    /* ===================================== 
    Traffic Header
    ======================================== */

    .traffic-header{
        ul{
            flex-basis: 40%; 
        }
        h3{
            flex-basis:  60%; 
        }
    }

    /* ===================================== 
    Social stats
    ======================================== */

    .social{
        display: flex; 
        justify-content: space-between;
        .social-text{
            p:first-child{
                font-size: 1em; 
            }
            p:last-child{
                font-size: 1.7em; 
            }
        }
        & >*{
            flex-basis: 30%; 
        }
    }
    /* ===================================== 
    Message and settings
    ======================================== */
    .message, 
    .settings {
    margin-top: 0; 
    
    }

    .message{
        input{
            margin-top: 20px; 
        }
        button{
            margin-top: 20px; 
        }

        textarea{
            margin-top: 20px; 
            margin-bottom: 0; 
            height: 113px; 
        }
    }

   

}