/* ===================================== 
    Base Style
======================================== */
*{
    box-sizing: border-box;
    
}
body{
    font-family: 'B612', sans-serif;
    margin-left: auto; 
    margin-right: auto;    
    max-width: 1200px;    
   
}

canvas {
    max-width: 100%;
}

.alert{
    margin-left: auto; 
    margin-right: auto;
    width: 97%;  
}

.traffic, 
.daily, 
.social, 
.members,
.activity, 
.message, 
.settings {
    padding-left: 5px; 
    padding-right: 5px;  
}

a{
    text-decoration: none; 
}

h3{  
    font-weight: 100; 
    font-size: .8em; 
}

h3:first-child{
    text-transform: uppercase;
}



/* ===================================== 
   Grid Layout
======================================== */


.grid-container {
    display: grid;  
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";   
}

header {
    grid-area: header;    
}

nav {
    grid-area: nav; 
}

main {
    grid-area: main; 
}

/* ===================================== 
  Header
======================================== */

header{
    background-color: #7477BF;
    padding: 10px; 
}
.header-container{
    display: flex; 
    justify-content: space-between;
    background-color: #7477BF;
    color: #fff;  
    h3{
        min-width: 100px; 
    } 
}

.empty{
    border-right: 1px solid black; 
}

.header-right{
    display: flex; 
    flex-basis: 25%; 
    max-width: 200px;  
} 

h2{
   flex-basis: 80%; 
    margin-left: 5px; 
    max-width: 145px;  
}

#icon-bell{
    margin-right: 15px; 
       
}

#avatar{ 
    margin-top: 10px; 
    margin-left: 10px; 
    margin-right: 5px;    
}

#name{
    margin-top: 25px; 
}


#notifications{
    position: absolute; 
    background-color: #4D4C72; 
    color: goldenrod; 
    min-width: 300px;   
    transform: translateX(-100px) translateY(50px); 
    transition: 1s; 
    border-radius: 3px;
    opacity: .9; 

    .notif-banner{
        display: flex; 
        flex-direction: row;
         justify-content: space-between;
         font-size: .85em; 
         
         &:not(:last-child) {
            border-bottom: 1px dashed black;
         }
         p{
            padding-left: 5px; 
            padding-right: 5px; 
         }  

    }
    
}
/* ===================================== 
  Navigation Bar
======================================== */

nav {
    display: flex;
    background-color: #4D4C72;
    justify-content: center;
    a{
       padding: 10px 10px;
    }
}

/* ===================================== 
 Main header
======================================== */

.main-header {
    display: flex;
    align-items: center;
    height: 25%; 
    margin-top: 0; 
    margin-bottom: 0; 

    h2{     
        flex-grow: 1; 
        padding-top: 15px; 
        padding-bottom: 15px; 
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 8px; 
        margin-right: 4px; 
        font-size: 1.6em; 
    }
}

.main-header-search{
    border-left: 1px solid silver;
    border-bottom: 1px solid silver;
    border-bottom-left-radius: 5px;
    padding-top: 17px; 
    padding-bottom: 17px;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 10; 
    background-color: silver; 
    padding-right: 10px;  
    
    .search-box{
        display: flex; 
        align-items: center;
        justify-content: space-between;
        background-color: #fff; 
        width: 250px; 
        border: 1px solid silver; 
        border-radius: 3px; 
        float: right; 
        padding-right: 10px; 
        
        a{
            display: inline-block; 
            padding-top: 3px; 
        }
    } 

    input{ 
        margin-right: 6px; 
        padding-left: 10px;
        height: 30px; 
        background-color: transparent;
        font-size: .8em; 
        border: none;  
        &:focus{
            border: none;
        } 

    }
    
}

/* ===================================== 
 Alert box
======================================== */

.alert{
    margin-top: 15px;  
    border-radius: 3px;
    height: 50px; 
    background-color: #7377BF; 
    color: gold;  
    
    & >* {
        padding-top: 5px; 
    }
     
}

.alert-banner {
    margin-bottom: 5px;   
    font-size: .8em; 
    padding-left: 10px; 
    padding-right: 10px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.alert-banner-close, 
.alert-notif-close{
    &{
        cursor: pointer;
    }
}


/* ===================================== 
 Charts
======================================== */

.traffic-header{
    display: flex; 
    align-items: center; 
    
    h3{
        flex-basis: 20%; 
    }

    ul{
        flex-basis: 80%;  
        list-style: none;
        display: flex; 
        justify-content: flex-end; 
        
        }
        li{
             
            font-size: .7em;
            padding-left: 20px;  
        }

        button{
            border: none; 
            background-color: #fff; 
        }
        button:focus{
            padding: 5px 5px; 
            outline: none; 
            border-radius: 10px; 
            background-color: #84CA92; 
            color: #fff;
        }
    
}

.traffic, 
.daily-charts{
    width: 100%; 
}



/* ===================================== 
 Social stats
======================================== */

.social-container {
    border: .5px solid silver; 
    padding-bottom: 10px; 
    margin-top: 20px; 
    margin-left: auto; 
    margin-right: auto; 
    width: 70%; 
    display: flex; 
    justify-content: space-around;
    padding-top: 20px; 
    background-color: #FBFBFB;

    p{
        margin: 0; 
    }

    p:first-child{
         font-size: 1.2em; 
         color: #8385C5;
         font-weight: bold;
    }

    p:last-child {
        font-size: 2.2em; 
      
    }

    .social-image{
        padding-top: 10px; 
    }

    .social-text{
        width: 105px;
        justify-content: left;
        padding: 0;    
    }
}

/* ===================================== 
 New Members & Recent Activity
======================================== */
.members-container, 
.activity-container {
    display: flex; 
    align-items: center;
    margin-bottom: 5px; 
    padding-bottom: 10px; 
    p{
        margin: 0 0 0; 
    }
    a {
        color: #7377BF; 
    }
}
.profile-image {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
}

.members-container{ 
    p:last-child{
        font-size:.7em; 
        margin-left: auto;          
    }  
}

.members-container:not(:last-child), 
.activity-container:not(:last-child) {
    border-bottom: 1px solid silver; 
}

.members, 
.activity{
    margin-top: 20px; 
    border: 1px solid silver; 
}

.members-text, 
.activity-text {
    font-size: .7em;
    margin-left: 15px;       
}

.members-text{
    width: 200px; 
    max-width: 60%;
}


/* ===================================== 
 Message User & Settings
======================================== */
.message, 
.settings{
    button{
        font-size: .8em; 
        border-radius: 3px;
        width: 100%; 
        border: 1px solid silver; 
    }
}

.message {
    
    input, 
    textarea{
    display: block; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    background-color: #FBFBFB; 
    }

    input{
        height: 30px; 
    }

    textarea {
        padding-top: 10px; 
        height: 80px; 
    }

    button{
        background-color: #7377BF; 
        color: #fff; 
        text-transform: uppercase; 
        height: 40px; 
    }
}

.toggle-wrapper { 
    height: 70px;
    & >*{
        display: inline-block;
        vertical-align: middle;   
    } 
    p{
        margin-right: 40px; 
    }
}


#toggle2{
    p{
        margin-right: 67px; 
    }
}

.settings {
    p{
        font-size: .8em; 
    }  
}

.form-field {
    font-size: .8em; 
    margin-bottom: 20px; 
    height: 30px; 
    color: #9e9e9e;
    option:not(:first-of-type) {
        color: black;
      }
}

.message, 
.settings {
    margin-top: 20px; 
    padding-bottom: 20px; 
    border: 1px solid silver;
}

.settings-button{
    display: flex; 
    justify-content: space-between;
    & >* {
        flex-basis: 48%; 
        height: 40px; 
        color: #fff; 
        border: none; 
    }
    button:first-child{
        background-color: #7377BF; 
    }

    button:last-child{
        background-color: #B2B2B2; 
    }
}

.suggestions {
    border-top: 1px solid #4D4C72; 
    margin-top: -10px; 
}

.suggestions > div{
    font-size: .8em; 
    padding: 5px; 
    color: goldenrod; 
    border-top: 1px solid #8385C5
}
.suggestions > div:hover{
    background-color: rgb(131, 133, 197, .5); 
    color: #fff; 
}