/* ===================================== 
    Base Style
======================================== */
*{
    box-sizing: border-box;
    
}
body{
    font-family: 'Crimson Text', serif;
    margin: auto; 
       
}
/* ===================================== 
   Grid Layout
======================================== */


.grid {
    
    &-main-container {
        display: grid;  
        height: 100vh; 
        grid-template-columns: 100%;
        grid-template-rows: auto;   
        grid-template-areas: 
            "header"
            "nav"
            "main";
        
    }
}

header {
    grid-area: header; 
        
}

nav {
    grid-area: nav; 
}

main {
    grid-area: main; 
}

/* ===================================== 
  Header
======================================== */

header{
    display: flex; 
    justify-content: space-around;
    background-color: #7477BF;
    color: #fff; 
    padding: 0 5px; 
    
     
}

.wrapper-ava{
    display: flex; 
    border-left: 1px solid #fff; 
     
}
h2{
   flex-grow: 10;
}

#icon-bell{
    margin-right: 15px; 
}

#avatar{ 
    margin-top: 10px; 
    margin-left: 2px; 
    margin-right: 5px;    
}

/* ===================================== 
  Navigation
======================================== */

nav {
    display: flex;
    background-color: #4D4C72;
    justify-content: center;
    a{
       padding: 10px 10px;
    }
}

/* ===================================== 
 Main header
======================================== */

.main-header {
    display: flex;
    align-items: center;
    // justify-content: space-around;
    height: 25%; 
    margin-top: 0; 
    margin-bottom: 0; 

    h2{
       
        flex-grow: 1; 
        padding-top: 17px; 
        padding-bottom: 17px; 
        margin-top: 0;
        margin-bottom: 0;
        
    }
}

.main-header-search{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
    padding-top: 17px; 
    padding-bottom: 17px;
    margin-top: 0;
    margin-bottom: 0;
    flex-grow: 10; 
    background-color: silver; 
    text-align: right; 
    
}

/* ===================================== 
 Alert box
======================================== */

.alert{
    border: 1px solid black;
    border-radius: 3px;
}